body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #eee;

  /* background: rgba(0,0,0,0.7) url(./assets/cloud-bg.jpg);
  background-size: cover;
  background-blend-mode: darken; */
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
