.container {
  display: flex;
  overflow: hidden;
}
.sidebar {
  width: 250px;
  background-color: #18222c;
  color: #eee;
  min-height: 100vh;
  transition: all 0.5s ease;
}
.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.menu__icon {
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 1rem;
}

.link__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 0.2s ease;
}
.icon {
  margin-right: 1rem;
  color: #eee;
}
.link__text {
  color: #eee;
}

.link__item:hover {
  background-color: #0b1014;
  border-radius: 5px;
}

.link__item.active {
  background-color: #0b1014;
}

main {
  flex: 1;
}

.sidebar.close {
  width: 60px;
}
